/*  your css code here. If applicable */

.grid {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-gap: 5px;

}
.child {
    border-radius: 10px;
    padding: 10px;
    background-color: white;
}
h1{
    background-color : #011e29;
    color: white;
    text-align: center;
}
body{
    background-color: #f5f5f5;
}

img{
    width: 200px;
}